@font-face{
    font-family: 'port-semibold';
    src: url('fonts/Satoshi-Bold.otf');
    font-style: regular;
}

@font-face{
    font-family: 'port-regular';
    src: url('fonts/GeneralSans-Regular.otf');
    font-style: regular;
}

@font-face{
    font-family: 'port-medium';
    src: url('fonts/GeneralSans-Medium.otf');
    font-style: regular;
}

html{
    scroll-behavior: smooth;
}

body{
    color: #111 !important;
    font-family: 'Arimo', sans-serif !important;

}

#gradient-body{
    /* background-image: linear-gradient(to bottom, #2c3e50, #000000); */
    background-color: #171c21;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: -99;
}

.nav{
    color: #f7f8f9;
}

.navbar-toggler{
    color: #0a58ca;
}

.nav-item .nav-link{
    color: #fff;
    font-size: 18px;
}

section{
    padding: 6% 12%;
}

#intro{
    padding: 6% 12%;
    height: 100vh;
}

.intro{
    margin-top: 100px;
}

.greet{
    color: #fff;
    font-size: 20px;
    margin: 0%;
    padding-bottom: 0%;

}

.name{
    font-family: 'port-semibold';
    font-size: 48px;
    color: #f7f8f9;
    margin: 0%;
    padding-top: 0%;
}

#work{
    padding-top: 20px;
}

.works{
    margin-top: 50px;
    color: #f7f8f9;
    display: flex;
    justify-content: space-between;
}

.box{
    background-image: linear-gradient(to bottom,#405057,#2b3840);
    color: #f7f8f9;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    text-align: left;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.box:hover{
  -ms-transform: scale(1.02);
  -webkit-transform: scale(1.02); 
  transform: scale(1.02);
}

.box a{
    text-decoration: none;
    color: #111;
}

.box a:hover{
    color: #111;
}

.work-title{
    color: #f7f8f9;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.work-desc{
    color: #cccccc;
    max-width: 300px;
}

footer{
    padding: 10% 12%;
}

footer p{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;    
}

footer a{
    border-radius: 2px;
    padding: 14px;
    color: #cccccc;
    font-size: 14px;
    transition: all .3s ease-in-out;
}

footer a:hover{
    background-color: #353f44;
    color: #cccccc;


}




@media screen and (max-width: 480px){

    .name{
        text-align: center;
        line-height: 60px;
    }

    .greet{
        text-align: center;
    }

    .works{
        flex-direction: column;
        align-items: center;
    }
    
    footer{
        text-align: center;
    }
    
}