
@font-face{
    font-family: 'port-bold';
    src: url('fonts/Inter-UI-Medium.otf');
    font-style: regular;
}

@font-face{
    font-family: 'euro';
    src: url('fonts/CreatoDisplay-Regular.otf');
    font-style: regular;
}


html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter', sans-serif !important;
    color: #101010 !important;
}

.navbar{
    height: 100px;
    font-size: 16px !important;
}

.navbar-toggler{
    color: #101010;
    outline: none;
}

nav{
    text-align: center;
    margin-top: 4%;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li{
    padding-right: 15px;
}

nav ul li a{
    text-decoration: none;
    color: #8b8b8b;
    transition: all .2s ease-in-out;
}

nav ul li a.active{
    color: #111;
}

nav ul li a:hover{
    color: #696969;
}



.top-head{
    padding: 3% 12%;
    font-size: 17px;
}

.work-info{
    padding: 0% 12%;
    display: flex;
    align-items: flex-start;
}

.work-info .pair{
    margin-right: 5%;
}


section{
    padding: 5% 12%;
    font-size: 17px !important;
}

aside{
    padding: 5% 12%;
    font-size: 17px !important;
    text-align: center;
}

aside img{
    width: 250px;
    border-radius: 50%;
    -webkit-filter: grayscale(95%);
	filter: grayscale(95%);
    margin-bottom: 30px;
}

.jiffy-imgs{
    text-align: center;
}

.jiffy-imgs .s-title{
    font-weight: 500;
}

.jiffy-imgs img{
    margin-bottom: 15px;
}

.contact{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-top: 3%;
    margin-bottom: 0%;
}

.bhome{
    text-align: center;
    text-decoration: none !important;
}

.bhome:hover{
    text-decoration: underline;    
}



footer{
    text-align: center;
    margin-bottom: 10%;
}

footer a{
    color: #101010 !important;
    background-color: rgb(221, 221, 221);
    border-radius: 50%;
    text-decoration: none;
    width: 50px;
    height: 50px;
    padding-top: 15px;
    text-decoration: none;
    margin-top: 20px;
    transition: all .2s ease-in-out;  
}

footer a:hover{
    background-color: rgb(211, 210, 210);
}

footer .fa{
    font-size: 19px;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    background-color: #dfdfdf !important;
}

img{
    width: 100%;
}

/* TITLE STYLING */

.title3{
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 700;
}

.title6{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 30px !important;
    margin-top: 10px;
}

.title4{
    color: #8b8b8b;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

.work-title{
    font-family: 'Inter';
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
}

.title5{
    text-align: center;
    font-size: 14px;
    font-style: oblique;
}

.title6{
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.imp{
    font-weight: 500;
}

.team-count{
    font-size: 52px;
    font-weight: 700;
    color: #4a7ff0;
    margin-bottom: 0%;
}

img{
    width: 100%;
}



@media screen and (max-width: 480px) {

    nav{
        text-align: center;
        margin-top: 8%;
    }

    .top-head{
        padding: unset;
        padding-top: 10%;
    }

    .work-info{
        padding: unset;
        justify-content: space-between;
    }

    .work-info .pair{
        margin-right: unset;
    }
    

    section,aside{
        padding: unset;
        padding-top: 10%;
        padding-bottom: 3%;
    }
    
}